:root {
  --header-color: #ffffff;
  --primary-text-color: #212121;
  --second-text-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #212121;
  background-color: #ffffff;
}

.header {
  background-color: var(--header-color);
}

/* ссылка на главную страницу */
.homepage {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  letter-spacing: 0.03em;
}

.homepage-dark {
  color: #212121;
}
.homepage-light {
  color: #ffffff;
}

/* ссылки навигации */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* ссылки контактов */
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--second-text-color);
}

/* главное превью + ссылка для заказа */
.main-page {
  background-color: #2f303a;
}

.main-page-topic {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-color);
}

/* кнопка заказать услугу */
.button-order {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: #2196f3;
  color: var(--header-color);
}

/* чем мы занимаемся */
.our-qualities {
  background-color: #e5e5e5;
}

.our-qualities-topic {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.our-qualities-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-text-color);
  letter-spacing: 0.03em;
}

.what-we-do-topic {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42%;
  color: #212121;
}

/* наша команда */
.our-team {
  background-color: #f5f4fa;
}

.team-person {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19%;
  color: #212121;
}

.team-position {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19%;
  color: #757575;
}

/* футер */

.bottom-part {
  background-color: #2f303a;
}

.map-address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24p%;
  color: #ffffff;
}

.link-contacts-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24%;
  color: #ffffff, 60%;
}
